<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e6e9c3">  <td>18/08/14 20:33:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasePractise.CreateJiraDefectWithAPIAndIfItIsCreatedDoNotCreateAgain()[pri:0, instance:com.boa.qa.test.TestCasePractise@28d25987]">CreateJiraDefectWithAPIAndIfItIsCreatedDoNotCreateAgain</td> 
  <td>main@517210187</td>   <td></td> </tr>
</table>
